<footer class="footer">
  <div class="container">
    <div class="footer__top">

      <ul class="footer__column">
        <h2 class="footer__title">Company</h2>

        <li class="footer__list">
          <a class="footer__link" href="#">About</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Team</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Supporters</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Diversity</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Blog</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Press</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Careers</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Contact</a>
        </li>
      </ul>

      <ul class="footer__column">
        <h2 class="footer__title">Product</h2>
        <li class="footer__list">
          <a class="footer__link" href="#">Our Approach</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Corrections Leaders</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Corrections Staff</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Policy Impact</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Public Data</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Security</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Testimonials</a>
        </li>
      </ul>

      <ul class="footer__column">
        <h2 class="footer__title">States</h2>
        <li class="footer__list">
          <a class="footer__link" href="#">Overview</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Idaho</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Maine</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Michigan</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Missouri</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">North Dakota</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Pennsylvania</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Tennessee</a>
        </li>
      </ul>

      <ul class="footer__column">
        <h2 class="footer__title">Network</h2>

        <li class="footer__list">
          <a class="footer__link" href="#">Twitter</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">Medium</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">GitHub</a>
        </li>

        <li class="footer__list">
          <a class="footer__link" href="#">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <nav class="footer__bottom-nav">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/logo.svg" width="110" height="26" alt="logo">
        </a>

        <ul class="footer__bottom-list">

          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Terms of Service</a>
          </li>

          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Privacy</a>
          </li>

          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Responsible Disclosure</a>
          </li>

          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Copyright © 2017-2022, Recidiviz. All Rights Reserved.</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>