<div class="header" style="background-image: url('images/hero-bg.webp');">
  <div class="header__top">
    <div class="container">

      <nav class="menu">
        <a class="logo header__logo" href="#">
          <img class="logo__img" src="images/logo.svg" width="110" height="26" alt="logo">
        </a>
        <button class="menu__btn" type="button">
          <span></span>
          <span class="sr-only">open menu mobile</span>
        </button>

        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">States</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Tools</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">People</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Learn More</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Donate</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Log In</a>
          </li>
        </ul>

        <div class="menu-mobile">
          <div class="menu-mobile__top">
            <a class="logo menu-mobile__logo" href="#">
              <img class="logo__img" src="images/logo.svg" width="110" height="26" alt="logo">
            </a>

            <button class="menu-mobile__btn" type="button">
           
              <span class="sr-only">closed menu mobile</span>
            </button>
          </div>
            <ul class="menu-mobile__list">
              <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="#">States</a>
              </li>

              <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="#">Tools</a>
              </li>

              <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="#">People</a>
              </li>

              <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="#">Learn More</a>
              </li>

              <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="#">Donate</a>
              </li>
              
              <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="#">Log In</a>
              </li>
            </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="header__content">
      <h1 class="header__title">Every person who safely transitions back to the community is a step toward a better
        society.</h1>
      <p class="header__text">Criminal justice leaders use Recidiviz to get a real-time picture of their system,
        diagnose
        issues, and drive meaningful changes.</p>
      <button class="header__btn" type="button">
        See our work in action
      </button>
      <div class="container">

        <div class="header__footer">

          <h2 class="header__subtitle">Trusted in:</h2>

          <ul class="header__list">
            <li class="header__item">
              <a class="header__link" href="#">Idaho</a>
            </li>

            <li class="header__item">
              <a class="header__link" href="#">Maine</a>
            </li>

            <li class="header__item">
              <a class="header__link" href="#">Missouri</a>
            </li>

            <li class="header__item">
              <a class="header__link" href="#">North Dakota</a>
            </li>

            <li class="header__item">
              <a class="header__link" href="#">Pennsylvania</a>
            </li>

            <li class="header__item">
              <a class="header__link" href="#">Tennessee</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>